/* question no :3 */

/* #passwordForm {
    margin-top: 20px;
  }
  
  #strengthRating {
    margin-top: 10px;
  } */


  /* question no :3 */

/* #carousel {
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  #image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  #buttons button {
    margin: 5px;
  } */
  


  